body {
    margin: 0;
    padding: 0;
}

.icons {
    font-family: "Material Design Icons";
}

table, th, td {
    border: solid black;
    border-collapse: collapse;
}

td {
    padding: 7px;
}

td.icons {
    padding: 4px;
    font-size: 25px;
}